<main class="content">

  <section class="box">

    <!-- CONTEUDO DE DETALHE DO PRODUTO SELECIONADO -->
    <section class="info-products">
      <div class="info-foto">
        <img class="img-prod" src="../../../../assets/images/info_product.svg" alt="caneca star wars">
      </div>
      <div class="details">
        <h2>Produto XYZ</h2>
        <h3>R$ 60,00</h3>
        <p>Voluptas voluptatum quibusdam similique, class debitis alias maecenas eveniet ridiculus, facilis fusce! Ullam
          conubia? Sociis, minima malesuada habitasse distinctio sequi aliqua malesuada. Quisque deleniti proin
          expedita,
          aliquid litora. Iste recusandae? Commodo, quia ridiculus doloribus vero dictum? Penatibus donec placeat
          faucibus, dolorum do. Animi porta anim magnam</p>
      </div>
    </section>

    <!-- CONTEUDOS SIMILARES -->
    <section class="another-products">

      <h2>Produtos Similares</h2>
      <section class="group-items">
        <div class="item">
          <img class="item__img" src="../../../../assets/images/consoles/console1.svg" alt="caneca star wars">

          <div class="item__info">
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a [routerLink]="'productDetail'">ver produto</a>
          </div>
        </div>
        <div class="item">
          <img class="item__img" src="../../../../assets/images/star_wars/star2.svg" alt="caneca star wars">

          <div class="item__info">
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a [routerLink]="'productDetail'">ver produto</a>
          </div>
        </div>
        <div class="item">
          <img class="item__img" src="../../../../assets/images/star_wars/star3.svg" alt="caneca star wars">

          <div class="item__info">
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a [routerLink]="'productDetail'">ver produto</a>
          </div>
        </div>
        <div class="item">
          <img class="item__img" src="../../../../assets/images/star_wars/star4.svg" alt="caneca star wars">

          <div class="item__info">
            <h3>Produto XYZ</h3>
            <p>R$ 60,00</p>
            <a [routerLink]="'productDetail'">ver produto</a>
          </div>
        </div>
      </section>

    </section>
  </section>

</main>
