.content {
  background: var(--light-grey);
  height: 100%;
}

.info-foto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-prod {
  width: 100%;
  max-width: 560px;

}

.details {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.details h2 {
  font-size: 22px;
  font-weight: 500;
  color: var(--dark-grey);
  margin-bottom: 1rem;
}

.details h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.details p {
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-grey);
}


.another-products {
  padding: 1rem;
}

.another-products h2 {
  color: var(--dark-grey);
  padding-left: 0.7rem;
}

.group-items {
  margin-bottom: 1.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.item__img {
  width: 100%;
  cursor: pointer;

}

.item img {
  margin-bottom: 0.7rem;
}

.item__info {
  text-align: start;
  width: 90%;
}

.item__info a {
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
}

.item__info p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.extra_item {
  display: none;
}



@media screen and (min-width: 768px) {

  .info-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }

  .group-items {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media screen and (min-width: 1024px) {

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-products {
    display: flex;
    flex-direction: row;
    padding: 4rem 0 1rem 0;
  }

  .box{
    width: 80%;
  }

  .info-foto{
    margin-right: 1rem;
  }

  .img-prod {
    width: 560px;
    max-width: 560px;
  }

  .details {
    padding: 1rem 1.5rem 1rem 0;
  }

  .details h2{
    font-size: 53px;
  }
  .details p{
    font-size: 16px;
  }

  .another-products {
    padding: 2rem 0 1rem 0;
  }

  .another-products h2 {
    font-size: 32px;

  }

  .group-items{
    grid-template-columns: repeat(6, 1fr);
  }

  .extra_item {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }
}
