<main class="content">

  <section class="box">

    <!-- CONTEUDO DE DETALHE DO PRODUTO SELECIONADO -->
    <section class="info-products" *ngIf="productData">
      <div class="info-foto">
        <img class="img-prod" [src]="productData.img" alt="caneca star wars">
      </div>
      <div class="details">
        <h2>{{productData.title}}</h2>
        <h3>{{productData.price | currency:'BRL'}}</h3>
        <p>{{productData.description}}</p>
      </div>
    </section>

    <!-- CONTEUDOS SIMILARES -->
    <section class="another-products" *ngIf="similarProd">

      <h2>Produtos Similares</h2>
      <section class="group-items">
        <div class="item" *ngFor="let item of similarProd">
          <img class="item__img" (click)="goToItem(item.id)" [src]="item.img" alt="caneca star wars">

          <div class="item__info">
            <h3>{{item.title}}</h3>
            <p>{{item.price | currency:'BRL'}}</p>
            <a (click)="goToItem(item.id)">ver produto</a>
          </div>
        </div>

      </section>

    </section>
  </section>

</main>
