<main class="container">

  <section class="head">
    <h2>Todos os produtos</h2>
    <button [routerLink]="'newProduct'" class="btn-primary">Adicionar Produtos</button>
  </section>

  <section class="products">

    <section class="group-items">
      <div class="item">
        <img class="item__img" src="../../../../assets/images/star_wars/star1.svg" alt="caneca star wars">

        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>

      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/star_wars/star2.svg" alt="lego star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/star_wars/star3.svg" alt="yoda star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/star_wars/star4.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>

      <div class="item">
        <img class="item__img" src="../../../../assets/images/star_wars/star5.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/star_wars/star6.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>

      <div class="item">
        <img class="item__img" src="../../../../assets/images/consoles/console1.svg" alt="caneca star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/consoles/console2.svg" alt="lego star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/consoles/console3.svg" alt="yoda star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/consoles/console4.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>

      <div class="item">
        <img class="item__img" src="../../../../assets/images/consoles/console5.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/consoles/console6.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>

      <div class="item">
        <img class="item__img" src="../../../../assets/images/diversos/diversos1.svg" alt="caneca star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/diversos/diversos2.svg" alt="lego star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/diversos/diversos3.svg" alt="yoda star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a href="#">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/diversos/diversos4.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a href="#">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/diversos/diversos5.svg" alt="yoda star wars">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a href="#">ver produto</a>
        </div>
      </div>
      <div class="item">
        <img class="item__img" src="../../../../assets/images/diversos/diversos6.svg" alt="stormtropper">
        <div class="item__info">
          <h3>Produto XYZ</h3>
          <p>R$ 60,00</p>
          <a href="#">ver produto</a>
        </div>
      </div>


    </section>

  </section>
</main>
