<div class="footer">

  <section class="contact_us">
    <div class="links">

      <img class="logo" src="../../../../assets/images/Logo.svg" alt="">
      <div class="contact_us__links">

        <p>Quem somos nós</p>
        <p>Política de privacidade</p>
        <p>Programa de fidelidade</p>
        <p>Nossas Lojas</p>
        <p>Quero ser franqueado</p>
        <p>Anuncie aqui</p>
      </div>
    </div>

    <form class="form">
      <h3>Fale conosco</h3>
      <input class="input_name" type="text" id="nome" placeholder="Nome">
      <textarea class="text_area" id="mensagem" placeholder="escreva sua mensagem aqui"></textarea>
      <button class="btn-primary">Enviar Mensagem</button>
    </form>

  </section>
  <div class="credits">
    <p>Desenvolvido por Gustavo Caixeta</p>
    <p>2021</p>
  </div>
</div>
