.footer {
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;

  width: 100%;
  background: var(--light-blue);
}

.logo {
  width: 176px;
}

.contact_us {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_us p {
  margin-top: 1rem;
}

.form {
  padding: 1rem;
  margin-top: 1.2rem;
  width: 90%;
  text-align: start;
  display: flex;
  justify-content: flex-start;

  flex-direction: column;
}

.input_name {
  height: 56px;
  border-radius: 4px;
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif;

  font-size: 16px;
  border: none;
}

.input_name:focus {
  box-shadow: 0 0 3px 0 var(--blue);
  border-color: var(--blue);
  outline: none;
}

.text_area {
  height: 82px;
  margin-top: 1rem;
  border: none;
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}

.text_area:focus {
  box-shadow: 0 0 3px 0 var(--blue);
  border-color: var(--blue);
  outline: none;
}

.credits {
  background: var(--white);
  height: 102px;

  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*  AJUSTE DE RESPONSIVIDADE PARA RESOLUÇÃO DE TABLET */
@media screen and (min-width: 768px) {

  .contact_us {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    min-height: 364px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    padding-left: 2rem;
  }

  .contact_us__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;

    padding: 0 0 2rem 2rem;
    color: var(--dark-grey);
  }

  .contact_us__links p {
    margin-bottom: 1rem;
  }

  .form {
    height: 90%;
    margin-top: 0;
    color: var(--dark-grey);
  }

}


@media screen and (min-width: 1440px) {
  .contact_us {
    display: flex;
    flex-direction: row;

  }
  .links{
    width: 50%;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .contact_us__links {
    padding: 0;
  }

  .form{
    width: 42%;
  }
}
