<header class="header">

  <div class="header__intro">
    <img [routerLink]="''" class="logo" src="../../../../assets/images/Logo.svg" alt="logo alura geek">

    <div class="input-group">
      <input class="input_seach" type="search" placeholder="O que deseja encontrar?">
      <button class="src-btn"><em class="material-icons">search</em></button>
    </div>

  </div>

  <button [routerLink]="'login' " class="btn">
    Login
  </button>

  <span class="material-icons search">
    search
  </span>
</header>
