.header {
  height: 72px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__intro {
  display: flex;
  justify-content: space-evenly;
  /* width: 75%; */
}

.logo {
  width: 100px;
  cursor: pointer;
}

.header__intro .input-group {
  width: 50%;
  display: none;
}

.header__intro .input_seach {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px 0px 0px 20px;
  border: none;
  width: 100%;
  background: var(--light-grey);
  font-family: 'Raleway', sans-serif;
  display: none;
}

.header__intro .input-group .src-btn {
  border: none;
  border-radius: 0px 20px 20px 0px;
  background: var(--light-grey);
  color: var(--black50);
  padding-right: 1rem;
  display: none;
}

.input_seach:focus {
  box-shadow: 0 0 3px 0 var(--blue);
  border-color: var(--blue);
  outline: none;
}


.search {
  content: url(../../../../assets/images/Vector.svg);
}

.btn {
  width: 130px;
  height: 40px;

  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--blue);

  cursor: pointer;
  transition: 1s all;
}

.btn:hover {
  background-color: var(--blue);
  color: var(--white);
}




/*  AJUSTE DE RESPONSIVIDADE PARA RESOLUÇÃO DE TABLET */
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
  }

  .header__intro {
    width: 75%;

  }

  .header__intro .input-group {
    display: flex;
    width: 50%;
  }

  .header__intro .input_seach {
    display: block;
  }

  .header__intro .input-group .src-btn{
    display: block;
  }


  .search {
    display: none;
  }
}


/*  AJUSTE DE RESPONSIVIDADE PARA RESOLUÇÃO DE DESKTOP */
@media screen and (min-width: 1024px) {
  .header {
    height: 115px;
    justify-content: space-evenly;
  }

  .header__intro {
    justify-content: flex-start;
    align-items: center;
  }

  .header__intro .input-group {
    display: flex;
    width: 50%;
  }

  .logo {
    width: 176px;
    margin-right: 1.5rem;
  }

  .input_seach {
    height: 40px;
  }
}
