<main class="content">

  <section class="banner-promo">
    <div class="banner-content">
      <h2>Dezembro promocional</h2>
      <p>Produtos selecionados com 33% de desconto</p>

      <button class="btn-primary"><a href="#consoles" class="btn-action">Ver Consoles</a> </button>
    </div>
  </section>

  <section class="products">

    <!-- STAR WARS -->
    <div class="group-items__header">
      <h2>Star Wars</h2>

      <div class="d-flex align-center justify-center">
        <a href="#" class="see-more">Ver tudo</a>
        <span class="material-icons arrow">
          east
        </span>
      </div>
    </div>
    <section class="group-items">

      <div class="item" *ngFor="let item of starData">
        <img [routerLink]="'productDetail'" class="item__img" [src]="item.img" alt="caneca star wars">

        <div class="item__info">
          <h3>{{item.title}}</h3>
          <p>{{item.price | currency:'BRL'}}</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>

      </div>

    </section>

    <!-- CONSOLES -->
    <div class="group-items__header" id="consoles">
      <h2>Consoles</h2>
      <div class="d-flex align-center justify-center">
        <a href="#" class="see-more">Ver tudo</a>
        <span class="material-icons arrow">
          east
        </span>
      </div>
    </div>
    <section class="group-items">
      <div class="item" *ngFor="let item of consoleData">
        <img class="item__img" [src]="item.img" alt="caneca star wars">
        <div class="item__info">
          <h3>{{item.title}}</h3>
          <p>{{item.price | currency:'BRL'}}</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>

    </section>

    <!-- DIVERSOS -->
    <div class="group-items__header">
      <h2>Diversos</h2>
      <div class="d-flex align-center justify-center">
        <a href="#" class="see-more">Ver tudo</a>
        <span class="material-icons arrow">
          east
        </span>
      </div>
    </div>
    <section class="group-items">
      <div class="item" *ngFor="let item of diversosData">
        <img class="item__img" [src]="item.img" alt="caneca star wars">
        <div class="item__info">
          <h3>{{item.title}}</h3>
          <p>{{item.price | currency:'BRL'}}</p>
          <a [routerLink]="'productDetail'">ver produto</a>
        </div>
      </div>

    </section>

  </section>

</main>
