.content {
  background: var(--white);
  height: 100%;

}

.banner-promo {
  background: url(../../../../assets/images/hero.svg);
  width: 100%;
  height: 192px;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; Do not repeat the image */

  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.banner-promo p,
button, a {
  margin-top: 0.7rem;
}

.banner-promo button{
  position: relative;
}

.banner-content {
  padding: 1rem;
}

.banner-promo h2 {
  font-size: 1.3rem;
}

.banner-promo p {
  font-size: 0.8rem;
}

.btn-action{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}




/* ITEMS */
.products {
  padding: 1rem;
}

.see-more {
  margin-right: .5rem;
}

.arrow {
  color: var(--blue);
}

.group-items {
  margin-bottom: 1.7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.group-items p {
  color: var(--dark-grey);
  font-weight: bold;
  margin-top: 0.7rem;
}

.group-items__header {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.group-items__header h2 {
  color: var(--dark-grey);
  font-size: 22px;
}

.group-items__header a {
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
}


.item {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__img {
  width: 90%;
  cursor: pointer;
  transition: 1s all ease-in-out;
}
.item__img:hover{
  width: 100%;
}


.item img {
  margin-bottom: 0.7rem;
}

.extra_item img {
  margin-bottom: 0.7rem;

}

.item__info {
  text-align: start;
  width: 90%;
}

.item__info a {
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
}

.item__info p {
  margin-bottom: .5rem;
}

.extra_item {
  display: none;
}

/*  AJUSTE DE RESPONSIVIDADE PARA RESOLUÇÃO DE TABLET */
@media screen and (min-width: 768px) {
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products{
    width: 80%;

  }
  .banner-promo {
    height: 352px;
  }

  .banner-promo h2 {
    font-size: 52px;
  }

  .banner-promo p {
    font-size: 22px;
    font-weight: 700;
  }



  .group-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .group-items__header {
    padding: 0;
    margin-right: 1rem;
  }
}


@media screen and (min-width: 1024px) {
  .products {
    padding:  0;
    padding: 4rem 0 0 0;

  }

  .banner-content {
    padding: 0 0 2rem 6rem;
  }

  .group-items {
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
  }

  .item {
    margin-bottom: 3rem;
    margin-right: 1rem;
  }



  .extra_item {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item__img {
    width: 100%;
  }
  .item__img:hover{
    width: 110%;
  }

  .item__info {
    width: 100%;
  }
}
