<main class="container">
  <section class="content">

    <legend>Adicionar novo produto</legend>

    <div class="drag-area">
      <img class="icon" src="../../../../assets/images/add_icon.svg" alt="img">
      <header>Adicione uma imagem ao conteudo</header>
      <input type="file" hidden>
    </div>
    <section class="browse">
      <span>Ou</span>
      <button class="btn-primary">Procure no seu computador</button>
    </section>


    <form action="">
      <div class="input-container">
        <input type="text" id="name" required/>
        <label for="name">Nome do produto</label>
      </div>

      <div class="input-container">
        <input type="email" id="email" required/>
        <label for="email">Preço do produto</label>
      </div>
    </form>




  </section>
</main>
