.container {
  padding: 1.5rem;
  background: var(--light-grey);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content legend {
  font-size: 22px;
  color: var(--grey);
  font-weight: 700;
}

.drag-content {
  width: 100%;
}

.drag {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.drag-area {
  border: 2px dashed var(--thin-grey);
  width: 100%;
  height: 140px;
  margin-top: 1rem;
  border-radius: 5px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  position: relative
}

.drag-area.active {
  border: 2px solid #fff;
}

.drag-area .icon {
  width: 18.5px;
  height: 18.5px;
  margin-bottom: 1rem;
}

.pc {
  display: none;
}

.drag-area header {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey);
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: var(--blue);
  margin: 10px 0 15px 0;
}

.drag-area .icon {
  /* height: 100%;
  width: 100%; */
  width: 18.5px;
  height: 18.5px;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 5px;
  background-image: url(../../../../assets/images/add_icon.svg);
  background-repeat: no-repeat;
}

.browse {
  display: none;
}



.input-container {
  background-color: var(--white);
  position: relative;
  border-radius: 4px;
  height: 56px;
  transition: all 500ms;
  margin-bottom: 1rem;
}

.form,
.form button {
  width: 100%;
}

/* .input-container:hover {
  background-color: #ececec;
} */

/* .input-container:focus-within {
  background-color: var(--white);
} */

label {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  color: var(--grey);
  transform-origin: left top;
  user-select: none;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

.form_input,
textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  caret-color: var(--accent-color);
  border: 1px solid transparent;
  border-bottom-color: var(--grey);
  color: var(--dark-grey);
  transition: border 500ms;
  padding: 20px 16px 6px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;

}

input:focus,
textarea:focus {
  outline: none;
  border-bottom-width: 2px;
  border-bottom-color: var(--thin-grey);
}

input:focus+label,
textarea:focus+label {
  color: var(--thin-grey);
}

input:focus+label,
input.is-valid+label,
textarea:focus+label,
textarea.is-valid+label {
  transform: translateY(-100%) scale(0.75);
}

.input-browser {
  position: relative;
  display: flex;
  margin: 1rem;
  border: 1px solid var(--blue);
  padding: 1rem;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  transition: 1s all;
}

.input-browser input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.browse input-browser:hover {
  background-color: var(--blue);
  color: var(--white);
}

.img-thumbnail {
  width: 100%;
  margin: 1rem;
}



@media screen and (min-width: 768px) {
  .drag-content {
    display: flex;
    align-items: center;
    min-height: 152px;
  }

  .drag-area {
    width: 35%;
    margin-right: 1rem;
  }

  .drag-area .icon {
    background-image: url(../../../../assets/images/img_icon.svg);
    border-radius: 5px;
    width: 32px;
    height: 32px;

  }



  .browse {
    display: flex;
    align-items: center;
  }

  .browse button {
    margin-left: 1rem;
    min-width: 191px;
    font-size: 16px;
    font-weight: 400;
  }

  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }


  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}


@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 50%;
  }

  .pc {
    display: flex;

  }

  .tablet {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    width: 35%;
  }
}
