@import url(./app/shared/reset.css);
@import url(./app/shared/buttons.css);
@import url(./app/shared/displays.css);

/* You can add global styles to this file, and also import other style files */
:root{
  --blue: #2A7AE4;
  --light-blue: #EAF2FD;
  --white: #FFFFFF;
  --dark-white: #E5E5E5;
  --grey: #6B6B6B;
  --dark-grey: #464646;
  --light-grey: #F5F5F5;
  --thin-grey: #C8C8C8;
  --black50: #A2A2A2;

  font-family: 'Raleway', sans-serif;

}

html{
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--blue) var(--light-grey);
}
