<main class="container">

  <form class="form" [formGroup]="loginForm" (submit)="loginSubmit()">
    <h2>Iniciar Sessão</h2>

    <mat-form-field  class="form_input" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="form_input"  appearance="fill">
      <mat-label>Senha</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="loginForm.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <button class="btn-primary" type="submit">Entrar</button>
  </form>

</main>
